html, body {
	width: 100%;
	height: 100%;
}

html {
	font: 15px 'montserratregular';
}

body {
	margin: 0;
	position: relative;
}

h1,h2 {
	margin: 0;
	padding: 0;
}
a {
	font-family: 'montserratsemibold';
	text-decoration: none;
	color: black;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

header {
display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}
.header__pic {

  margin: 10px;
}

.menu {
	margin: 30px;
	padding: 0;
	
}

.header__aside {
   display: flex;
	margin-top: 30px;
	padding: 0;
	flex-wrap: nowrap;
}

.header__menu-link {
	margin: 20px;
	padding: 0;
}

.menu__icon {
width: 24px;
height: 13px;
 cursor: pointer;
 border-radius: 11px;
}

.menu__icon span,
.menu__icon span::before,
 .menu__icon span::after  {
    position: absolute;
    height: 1.5px;
    width: 24px;
    background-color: #E51937;
    border-radius: 13px;
    transition: .25s ease-in-out;
	margin-top: -1px;
	margin-left: -12px;
	
	justify-content: center;
	align-items: center;
 }
 
 .menu__icon span::before,
 .menu__icon span::after {
 	content:'';
	
 }
 
 .menu__icon span::before {
 	transform: translateY(-6px);
 }
 
 .menu__icon span::after {
 	transform: translateY(6px);
 }

 

.main__title {
	font-size: 90px;
	font-family: 'montserratsemibold';
	margin: 80px 0 10px;
	padding: 0;
	text-align: center;
}

.main__subtitle {
	font: 15px 'montserratmedium';
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.main__pic {
	width: 100%;
	margin: 0;
}

.main__info {
		display: flex;
	justify-content: center;
}

.info__content {
	display: flex;
	justify-content: center;

}
.main__content {
	margin: 30px 0;	
}

.main__content-item {
	margin: 0 20px;
	display: flex;
	
}

.content {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.content__item {
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;	
	flex-direction: column; 
}


.content__pic {
width: 46px;
height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content__item-one {
	font: 35px 'montserratsemibold';
	margin: 0 5px 5px 0;
	display: flex;
	align-items: baseline;
	text-align: left;
}

.content__one-big {
	font: 35px 'montserratsemibold';
	margin: 0 5px 5px 0;
	
}

.content__one-small {
	font: 20px 'montserratsemibold';
	
	
}

.content__item-two {
	font: 12px 'montserratregular';
	display: flex;

}



button {
	border: none;
	display: flex;
	align-items: center;
	padding: 5px 50px;
	color: black;
	border: 2px solid white;
	font: 13px 'montserratbold';
}

.button__out {
	border: none;
	display: flex;
	align-items: center;
}

.button__pic {
	margin-right: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.button__redwheel {
	display: none;
}
.button__border {
	display: flex;
	align-items: center;
border: 2px solid #E51937;
	color:#E51937;
}
.button__text {
	text-transform: uppercase;
}

.main__pointer {
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

 @media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu {
    position: fixed;
    display: block;
   top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: #E51937(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .header__menu-s .header__menu-x .header__menu-model .header__menu-road .header__menu-energy .header__menu-shop .header__menu-in {
    display: none;
    padding: 10px 0;
    text-align: center;
  }
}
/*
section {
	display: flex;
	color: white;
	background-color: #E51937;
}
.section__title {
	color: #E51937;
	font: 70px 'montserratsemibold';
	position: absolute;
}


.section__pic {

}

.article__info {
	margin: 20px;
	padding: 10px;
	text-aling: left;
}
.article__title {
	text-align: left;
	margin: 20px;
	padding: 10px;
	font: 30px;
}
.article__text {
	text-align: left;

}

.article__charset {
	flex-direction: column;
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.article__charset-item {
	margin: 15px 10px;
	
}
.charset {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
	
}
.charset__item {
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.charset__item-one {
	display: flex;
	align-items: baseline;
	text-align: left;
}
.charset__one-big {
	font: 35px 'montserratsemibold';
	text-align: left;
	
}

.charset__one-small {
	font: 20px 'montserratsemibold';
}

.charset__button-out {
	border: none;
	color: white;
display: flex;
}

.charset__button-pic {
	margin-right: 5px;
}
.charset__button-border {
border: 2px solid white;
	color: white;
}
.button__text {
	text-transform: uppercase;
}







footer {
	display: flex;
	color: white;
}

.footer__box {
	background-color: #E51937;
}

.footer__car {
float: right;
margin: 0 0 0 100px;
}

.footer__model {
	z-index: 2;
}
.footer__footer {
	flex-direction: column;
	
}
 
 .footer__title {
 	font: 30px 'montserratmedium';
 }
 
 .footer__subtitle {
 	font: 30px 'montserratmedium';
	padding: 20px;
	text-align: center;
 }

.footer__text {
	padding: 30px;
	
}

.footer__content {
	font: 17px 'montserratbold';
}

.footer__content-item {
 padding: 10px;
 margin: 10px;
 
}

.content__items {
margin: 0 30px;
}

.item {
		align-items: center;
	justify-content: center;
	display: flex;
}

.footer__word-small {
	font: 10px 'montserratregular';
	opacity: 0.7;
	align-items: baseline; 
	margin: 0;
}

.footer__safe {
	margin: 20px 0;
	font: 50px 'montserratsemibold';
}

.safe {
	align-items: center;
	justify-content: center;
	display: flex;
}

.safe__items {
	margin: 40px 20px;
}

.safe__content-one {
	align-items: center;
	justify-content: center;
	display: flex;
}
.safe__content-two {
	font: 25px 'montserratmedium';
}
.footer__word {
	margin-right: 10px;
}

.footer__small{
	

}
.footer__button-out {
	
	border: none;
}

.footer__button-border {
	color: white;
}

.footer__button-text {
	text-transform: uppercase;
	color: white;
}

.footer__button-pic {
	margin-right: 5px;
}*/

@media screen and (max-width: 1024px) {
.body {
text-align: center;
align-items: center;
}

.header {
padding: 0;
margin: 0 auto;

}
.main {
padding: 0;
margin: 0 auto;
	
}


.header__menu {
display: none;
}

.header__menu-link {
	display: none;

}



.main__title {
	font-size: 90px;
	margin-bottom: 10px;
	
}
.main__subtitle {
	font: 15px 'montserratmedium';
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.main__info {
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info__content {
	
	flex-wrap: nowrap;
}

.main__content {
	margin: 20px 0;
}


.button__border {
color: white;
background-color: #E51937;
}
.button__out {
	color: #E51937;
}

.button__redwheel {
	margin-right: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.button__pic {
	display: none;
}
}

@media screen and (max-width:768px) {

.body {
text-align: center;
align-items: center;
}
.main__title {
	font-size: 50px;
	margin-bottom: 10px;
	
}
.main__subtitle {
	font-size: 10px;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.main__content {
	margin: 20px 0;
	
}
.content__item-one {
	font-size: 27px;
	margin-right: 0;
}
.content__one-big {
	font-size: 27px;
	margin: 0 5px 5px 0;
	
}
.content__one-small {
	font-size: 15px;
	
	
}

.content__item-two {
	font-size: 10px;
	display: flex;

}
.content__pic {
width: 38px;
height: 27px;
}

button {
	padding: 3px 40px;
}
.button__text {
	font-size: 13px;
}
}
@media screen and (max-width: 1366px) {

}