@media screen and (max-width: 1680px) {
  body {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .main__pic {
    margin: -100px 0 0 0;
  }
}

@media screen and (max-width: 1283px) {
  .article__charset {
    margin: 30px 0 40px 0;
  }

  .article__info {
    padding: 18px;
  }

  .buttons {
    
  }
}

@media screen and (max-width: 1120px) {
  .header__menu-link {
    font-size: 14px;
  }

  .main__pic {
    margin: -80px 0 0 0;
  }
}

@media screen and (max-width: 1090px) {
  .header__menu-link {
    font-size: 13px;
  }

  .main__pic {
    margin: -70px 0 0 0;
  }

  section {
    background: none;
  }

  .sec__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .section__logo {
    width: 100%;
  }

  .section__pic {
    display: flex;
    max-width: 1090px;
  }

  .section__title {
    text-align: right;
  }

  .article {
    width: 100%;
  }

  .article__info {
    display: flex;
  }

  .article__top {
    text-align: left;
    margin: 0;
    padding: 15px 0 0 40px;
  }

  .article__text {
    width: 45%;
  }

  .article__charset {
    margin: 0;
    padding: 0 40px 0 0;
  }

  .charset__item-two {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    margin: 0 auto;
    padding: 0 0 20px 0;
  }
  
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__box {
    width: 100%;
  }

}

@media screen  and (max-width: 1062px) {
  .menu {
    display: none;
  }

  .header__menu-link {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .body {
    text-align: center;
    align-items: center;
  }

  .main__pic {
    margin: -50px 0 30px 0;
  }

  .header {
    display: flex;
    padding: 0;
    margin: 0 auto;
  }

  .header__aside {
    margin: 25px;
  }

  .main {
    padding: 0;
    margin: 0 auto;
  }

  .header__menu {
    display: none;
  }

  .header__menu-link {
    display: none;
  }

  .header__line {
    display: none;
  }

  .main__title {
    font-size: 90px;
    margin-bottom: 10px;
  }

  .main__subtitle {
    font-size: 15px;
    font-family: 'montserratmedium', sans-serif;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  .main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__content {
    margin: 0 0 40px 0;
    padding: 0;
  }

  .main__content-item {
    margin: 0 20px;
  }

  .content {
    margin: 0;
  }

  .content__pic {
    width: 65px;
    height: 50px;
  }

  .content__one-big {
    font-size: 50px;
  }

  .content__one-small {
    font-size: 20px;
  }

  .content__item-two {
    font-size: 12px;
  }

  .button__border {
    color: white;
    background-color: #e51937;
    padding: 0 50px;
  }

  .button__out {
    color: #e51937;
  }

  .button__redwheel {
    margin-right: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .button__pic {
    display: none;
  }

  .button__text {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
  }

  section {
    padding: 0;
    margin: 0 auto;
  }

  article {
    padding: 0;
    margin: 0 auto;
  }

  .section__title {
    font-size: 70px;
    text-align: right;
  }

  .article__text {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .body {
    text-align: center;
    align-items: center;
  }

  .main__title {
    font-size: 90px;
    margin-bottom: 10px;
  }

  .main__subtitle {
    font-size: 15px;
  }

  .main__pic {
    margin: -50px 0 0 0;
  }

  .main__content {
    align-items: center;
    margin: 0 0 20px;
  }

  button {
    padding: 0 30px;
  }

  .content__one-big {
    font-size: 40px;
  }

  .content__one-small {
    font-size: 15px;
  }

  .content__item-two {
    font-size: 10px;
  }

  .content__pic {
    width: 38px;
    height: 27px;
  }

  .roadicon {
    width: 29px;
    height: 41px;
  }

  .button__out {
    padding: 10px;
  }

  .button__border {
    padding: 0 40px;
  }

  .button__text {
    font-size: 12px;
  }

  
}

@media screen and (max-width: 560px) {
  .main__title {
    font-size: 70px;
  }

  .main__pic {
    margin: -40px 0 20px 0;
  }

  .header__pic {
    width: 138px;
    height: 42px;
    margin: 10px;
  }

  
  .section__title {
    display: none;
  }

  .article__charset {
    display: none;
  }

  .buttons {
    display: none;
  }
}

@media screen and (max-width: 501px) {
  .button__text {
    font-size: 12px;
  }

  .main__pic {
    margin: 0;
  }

  .main__title {
    font-size: 50px;
  }

  .main__subtitle {
    font-size: 10px;
  }

  .content__one-big {
    font-size: 27px;
  }

  .content__one-small {
    font-size: 15px;
  }

  .content__item-two {
    font-size: 10px;
  }

  .content__pic {
    width: 38px;
    height: 27px;
  }

  .roadicon {
    width: 29px;
    height: 41px;
  }

  .button__out {
    padding: 10px;
  }

  .button__border {
    padding: 0 40px;
  }

  .sec__container {
    display: flex;
    flex-direction: column;
  }

  .section__pic {
    
  }

  .tesladec {
    display: none;
  }

  .section__title {
    display: none;
  }

  .article {
    width: 100%;
    
  }

  .article__info {
    padding: 0;
    margin: 0;
  }

  .article__top {
    padding: 0;
    margin: 0;
  }

  .article__text {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .body {
    text-align: center;
    align-items: center;
  }

  .header {
    padding: 0;
    margin: 0;
  }

  .main__title {
    font-size: 50px;
  }

  .main__subtitle {
    font-size: 10px;
    text-align: center;
  }

  .main__content {
    margin: 10px;
  }

  .info__content {
    margin: 0 20px 0 20px;
  }

  .content__item-one {
    font-size: 27px;
    margin: 0;
  }

  .content__one-big {
    font-size: 27px;
    margin: 0 5px 5px 0;
  }

  .content__one-small {
    font-size: 15px;
  }

  .content__item-two {
    font-size: 10px;
    display: flex;
    margin: 0;
  }

  .button__text {
    font-size: 13px;
    display: flex;
    flex-direction: row;
  }

  .button__redwheel {
    width: 22px;
    height: 22px;
  }

  .main__pointer {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .body {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .body {
    text-align: center;
    align-items: center;
  }

  .button__out {
    padding: 10px;
  }

  .button__text {
    font-size: 10px;
  }

  .main__content {
    margin: 0 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .body {
    text-align: center;
    align-items: center;
  }

  .main__content {
    margin-right: 0;
  }

  button {
    padding: 0 20px;
  }
}
