html,
body {
  width: 100%;
  height: 100%;
}

html {
  font: 15px 'montserratregular';
}

body {
  margin: 0;
  position: relative;
  min-width: 320px;
  max-width: 1440px;
  align-items: center;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  font-family: 'montserratsemibold';
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;	
}

.header__pic {
   margin: 10px;
}

.menu {
  margin: 10px;
  padding: 0;
  display: flex;
		
}

.header__aside {
  display: flex;
  margin: 30px 30px;
}

.header__menu-link {
  margin: 20px;
  padding: 0;
  color: black;
}

.header__menu-link:hover {
  color: #e51937;
  text-decoration: underline;
}

#light {
  color:  #e51937;
}

#light::after {
  content: '_______';
  color: #e51937;
  display: flex;
  flex-diretion: column;
  justify-content: center;
}

.header__line {
  position: absolute;
  left: 458px;
  top: 50px;
}

.menu__icon {
  width: 24px;
  height: 15px;
  margin: 0 5px;
}

.main__title {
  font-size: 90px;
  font-family: 'montserratsemibold';
  margin: 40px 0 0 0;
  padding: 0;
  text-align: center;
}

.main__subtitle {
  font: 15px 'montserratmedium';
  margin: 0;
  padding: 0;
  text-align: center;
}

.main__pic {
  width: 100%;
  margin: -110px 0 0 0;
	
}

.main__info {
  display: flex;
  justify-content: center;
}

.info__content {
  display: flex;
}

.main__content {
  margin: 30px 0;	
}

.main__content-item {
  margin: 0 20px;
  display: flex;	
}

.content {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.content__item {
  margin-right: 5px;
  display: flex;	
  flex-direction: column; 
}


.content__pic {
  width: 46px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__item-one {
  font: 35px 'montserratsemibold';
  margin: 0 5px 5px 0;
  display: flex;
  align-items: baseline;
  text-align: left;
}

.content__one-big {
  font: 35px 'montserratsemibold';
  margin: 0 5px 0 0;
}

.content__one-small {
  font: 20px 'montserratsemibold';	
}

.content__item-two {
  font: 12px 'montserratregular';
}

button {
  border: none;
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: black;
  border: 2px solid white;
  font: 13px 'montserratbold';
}

.button__out {
  border: none;
  display: flex;
  align-items: center;
}

button:hover {
  opacity: 0.5;
}

.button__pic {
  margin-right: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button__redwheel {
  display: none;
}

.button__border {
  display: flex;
  align-items: center;
  border: 2px solid #e51937;
  color:#e51937;
}
.button__text {
  text-transform: uppercase;
}

.main__pointer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
section {
display: flex;
}

.section__title {
	color: #e51937;
	font: 70px 'montserratsemibold';
	position: absolute;
}

.article {
width: 440px;
	color: white;
	background-color: #E51937;
margin: 0;

}

.section__pic {
float: left;
}

.article {
	color: white;
	background-color: #E51937;

}

.article__info {
	margin: 20px 0 0 10px;
	padding: 10px;

}

.article__charset {
	margin: 0 0 10px;
	display: flex; 	
}

.article__top {
	margin: 20px 30px 40px 20px;
}
.article__title {
	text-align: left;
	padding: 10px;
	font-size: 30px;
}
.article__text {
	text-align: left;
}

.article__charset-item {
	margin: 20px 10px;
	
}
.charset {
	display: flex;
	align-items: center;
	justify-content: center;	
}
.charset__item {
	margin: 0 10px;
}

.charset__item-one {
	display: flex;
	align-items: baseline;
	text-align: left;
}

.charset__item-two {
    display: flex;
	flex-direction: column;
}
.charset__one-big {
	font: 35px 'montserratsemibold';
	text-align: left;
	
}

.charset__one-small {
	font: 20px 'montserratsemibold';
}

.charset__button-out {
	border: none;
	color: white;
display: flex;
}


.charset__button-pic {
	margin-right: 5px;
}
.charset__button-border {
border: 2px solid white;
	color: white;
}


.button__text {
	text-transform: uppercase;
}





footer {
	display: flex;
	color: white;
}

.footer__box {
	background-color: #E51937;
	width: 440px;
}

.footer__inform {
	padding: 20px;
}

.footer__car {

margin:;
}

.footer__model {
	z-index: 2;	
}

.footer__footer {
	flex-direction: column;
	margin: 30px;
}
 
 .footer__title {
 	font: 30px 'montserratmedium';

 }
 .footer__text {
	padding: 0 0 30px 0;
}
 
 
 .footer__info {
 
	padding: 20px;
 }
 .footer__subtitle {
 	font: 30px 'montserratmedium';
	padding: 20px;
 }

.footer__content {
	font: 17px 'montserratbold';
	
}

.footer__content-item {
margin: 10px;
}

.content__items {
margin: 0 40px;
text-align: center;
justify-content: center;
display: flex;
align-items: baseline;
}

.item {
		align-items: center;
	justify-content: center;
	display: flex;
}

.footer__word-small {
	font: 10px 'montserratregular';
	opacity: 0.7;
	
}

.footer__safe {
	margin: 20px 0;
	font: 50px 'montserratsemibold';
}

.safe {
	align-items: center;
	justify-content: center;
	display: flex;
}

.safe__items {
	margin: 40px 20px;
}

.safe__content-one {
	align-items: center;
	justify-content: center;
	display: flex;
}
.safe__content-two {
	font: 25px 'montserratmedium';
}
.footer__word {
	margin-right: 10px;
}

.footer__small{
	margin: 0;

}
.footer__button-out {
	
	border: none;
}

.footer__button-border {
	color: white;
}

.footer__button-text {
	text-transform: uppercase;
	color: white;
	font-size: 13px;
}

.footer__button-pic {
	margin-right: 5px;
}

*/