html, body {
	width: 100%;
	height: 100%;
}

html {
	font: 15px 'montserratregular';
}

body {
	margin: 0;
	position: relative;
}

h1,h2 {
	margin: 0;
	padding: 0;
}
a {
	font-family: 'montserratsemibold';
	text-decoration: none;
	color: black;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.header {
	text-align: center;
	
}
.header__pic {
  align-item: left;
  display: flex;
  margin-top: 10px;
}

.menu {
	margin: 0;
	padding: 0;
	
}

.header__menu {
	margin: 0 80px 20px;
	padding: 0;
	text-align: right;
}
.header__menu-link {
	margin: 20px;
	padding: 0;
}

.menu__icon {
margin: 0;
align-item: right;
justify-content: right;
width: 22px;
height: 15px;
 cursor: pointer;
 display: flex;
 border-radius: 15px;
}

.menu__icon span,
.menu__icon span::before,
 .menu__icon span::after  {
 position: absolute;
    height: 2px;
    width: 22px;
    background-color: #E51937;
    border-radius: 10px;
    transition: .25s ease-in-out;
	margin-top: -1px;
	margin-left: -11px;
	align-item: right;
justify-content: right;
 }
 
 .menu__icon span::before,
 .menu__icon span::after {
 	content:'';
	
 }
 
 .menu__icon span::before {
 	transform: translateY(-5px);
 }
 
 .menu__icon span::after {
 	transform: translateY(5px);
 }

 
.main {
	text-align: center;
}
.main__title {
	font-size:90px;
	font-family: 'montserratsemibold';
	margin-bottom: 10px;
	padding: 0;
}
.main__subtitle {
	font: 15px 'montserratmedium';
	margin-bottom: 0;
	padding: 0;
}
.main__pic {
	width: 100%;
	margin-top: 0;
	
}
.main__content {
	margin: 30px 0;
	display: flex;
	align-item: center;
	justify-content: center;
}

.main__content-item {
	margin: 0 20px;
	display: flex;
	justify-content: center;
}

.content {
	display: flex;
	align-item: center;
	margin: 0 20px;
}
.content__item {
	margin-right: 5px;
	display: flex;
	align-item: center;
	justify-content: center;	  
}


.content__pic {
	width: 70px;
	height: 60px;
	display: flex;
	align-item: center;
	justify-content: center;
}
.content__item-one {
	font: 35px 'montserratsemibold';
	margin: 0 5px 5px 0;
	display: flex;
	align-item: baseline;
	text-align: left;
}
.content__one-big {
	font: 35px 'montserratsemibold';
	margin: 0 5px 5px 0;
	
}
.content__one-small {
	font: 20px 'montserratsemibold';
	
}

.content__item-two {
	font: 12px 'montserratregular';
	margin: 20px 0;;
	display: flex;
	text-align: left;
}



button {
	border: none;
	display: flex;
	align-item: center;
	padding: 5px 50px;
	color: black;
	border: 2px solid white;
	font: 13px 'montserratbold';
}

.button__out {
	border: none;
	display: flex;
	align-item: center;
}

.button__pic {
	margin-right: 5px;
	align-item: center;
	display: flex;
	justify-content: center;
}
.button__border {
	display: flex;
	align-item: center;
border: 2px solid #E51937;
	color:#E51937;
}
.button__text {
	text-transform: uppercase;
}
/*.menu__icon {
text-align: right;
width: 22px;
height: 15px;
 cursor: pointer;
 display: block;
 background-color: white;
 border-radius: 15px;
}

.menu__icon span,
.menu__icon span::before,
 .menu__icon span::after  {
  
    position: absolute;
    height: 2px;
    width: 22px;
    background-color: #E51937;
    border-radius: 10px;
    transition: .25s ease-in-out;
	margin-top: -1px;
	margin-left: -11px;
	top: 50%;
	left: 50%;
 }
 
 .menu__icon span::before,
 .menu__icon span::after {
 	content:'';
	
 }
 
 .menu__icon span::before {
 	transform: translateY(-5px);
 }
 
 .menu__icon span::after {
 	transform: translateY(5px);
 }

 
 @media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: #E51937(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .header__menu-s .header__menu-x .header__menu-model .header__menu-road .header__menu-energy .header__menu-shop .header__menu-in {
    display: none;
    padding: 10px 0;
    text-align: center;
  }
}*/



.main__content-pointer {
	position: absolute;
width: 28px;
height: 14px;
left: 755px;
top: 849px;
}

.section__title {
  position: absolute;
width: 288px;
height: 86px;
left: 80px;
top: 964px;
color: #E51937;
font-family: 'MontserratBold';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 85px;


}

.section__pic {
  position: absolute;
width: 1548px;
height: 844px;
left: 0;
top: 956px;

}

/*.article__box {
background-color: #E51937;
position: absolute;
 width: 440px;
height: 900px;
left: 1000px;
top: 900px;
margin: 0;
padding: 0;
}*/

.article__title {
  position: absolute;
width: 316px;
height: 37px;
left: 1052px;
top: 990px;
font-family: 'MontserratBold';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
color: white;

background-color: #E51937;
 width: 440px;
height: 900px;
left: 1000px;
top: 900px;
}


.article__text {
  position: absolute;
width: 316px;
height: 206px;
left: 1052px;
top: 999px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: white;

}

.article__pic {
  position: absolute;
width: 187px;
height: 65px;
left: 1052px;
top: 1259px;

}

.article__pic-software {
  position: absolute;
width: 269px;
height: 71px;
left: 1048px;
top: 1359px;

}

.article__pic-volume {
  position: absolute;
width: 202px;
height: 71px;
left: 1052px;
top: 1455px;

}

.aside__info {
position: absolute;
width: 173.5px;
height: 40px;
left: 1049px;
top: 1708px;
text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: white;
}

.round {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1040px;
  top: 1707px;
  border: 2px solid white;
  border-radius: 50%;
  background: #E51937;
}

.aside__i {
  position: absolute;
  left: 1050px;
  top: 1698px;
  font-family: 'MontserratBold';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: white;
text-align: center;
}

.section__button {
position: absolute;
width: 160px;
height: 40px;
left: 1223px;
top: 1697px;
background: #E51937;
border: 2px solid white;
box-sizing: border-box;
border-color: white;
font-family: 'MontserratBold';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: white;
}

.footer__title {
  position: absolute;
width: 316px;
height: 74px;
left: 56px;
top: 1851px;
font-family: 'MontserratBold';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
color: white;
text-align: center;
background-color: #E51937;
position: absolute;
width: 440px;
height: 900px;
left: 0px;
top: 1800px;

}

.footer__text {
  position: absolute;
width: 316px;
height: 134px;
left: 56px;
top: 1937px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: white;
}

.footer__subtitle {
  position: absolute;
width: 263px;
height: 37px;
left: 56px;
top: 2120px;
color: white;
font-family: 'MontserratBold';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
}

.footer__info-front {
  position: absolute;
width: 90px;
height: 21px;
left: 56px;
top: 2186px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
}

.footer__info-side {
  position: absolute;
width: 64px;
height: 21px;
left: 56px;
top: 2223px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
}

.footer__info-other {
  position: absolute;
width: 64px;
height: 21px;
left: 56px;
top: 2260px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
}

.footer__info-driver {
  position: absolute;
width: 103px;
height: 21px;
left: 56px;
top: 2297px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
}

.footer__info-pass {
  position: absolute;
width: 109px;
height: 21px;
left: 56px;
top: 2334px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
}

.footer__star-front {
  position: absolute;
width: 25px;
height: 25px;
left: 207px;
top: 2183px;

}
.wrapper {
  display: grid;
grid-template-columns: repeat (5, 2px);
grid-auto-rows: 25px 25px;
}

.footer__star-side {
  position: absolute;
width: 25px;
height: 25px;
left: 207px;
top: 2220px;
}

.footer__star-other {
  position: absolute;
width: 25px;
height: 25px;
left: 207px;
top: 2257px;
}

.footer__info-brac {
  position: absolute;
width: 53px;
height: 13px;
left: 123px;
top: 2266px;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
color: white;
opacity: 0.7;
}


.footer__star-driver {
  position: absolute;
width: 25px;
height: 25px;
left: 207px;
top: 2294px;
}

.footer__star-pass {
  position: absolute;
width: 25px;
height: 25px;
left: 207px;
top: 2331px;
}

.footer__pic {
  position: absolute;
width: 280px;
height: 92px;
left: 66px;
top: 2457px;
}

.footer__learn {
position: absolute;
width: 173.5px;
height: 40px;
left: 38px;
top: 2610px;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.footer__round {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 35px;
  top: 2606px;
  border: 2px solid white;
  border-radius: 50%;
  background: #E51937;
}

.footer__i {
  position: absolute;
  left: 44px;
  top: 2596px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: white;
}

.footer__car {
  position: absolute;
width: 1049px;
height: 592px;
left: 345px;
top: 1971px;
}

.footer__button {
  position: absolute;
width: 173.5px;
height: 40px;
left: 212px;
top: 2600px;
 border: 2px solid #FFFFFF;
box-sizing: border-box;
border-color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: white;
background: #E51937;
}


@media screen and (max-width:768px) {
.body {
text-align: center;
}
.header {
padding: 0;
margin: 0 auto;

}
.main {
padding: 0;
margin: 0 auto;
	
}

  .main__title {
    font-size: 50px;
	left: 85px;
top: 50px;
  }
  .main__pic {
 	width: 330px;
height: 150px;
left: 20px;
top: 200px;
}
.main__back {
	width: 380px;
height: 139px;
left: 0;
top: 150px;
z-index: 2;
}
.header__pic {
	width: 138px;
height: 42px;
left: 2px;
top: 5px;
}
.menu__icon {
	left: 360px;
top: 5px;
}
.main__subtitle {
font-size: 10px;
line-height: 12px;
left: 108px;
top: 118px;
}
.main__content-speeder {
	width: 38.14px;
height: 28.7px;
left: 35px;
top: 370px;
}
.main__content-number {
	left: 83px;
top: 330px;
font-size: 27px;
}
.main__content-time {
	left: 130px;
top: 358px;
font-size: 15px;
line-height: 18px;
}
.main__content-speed {
	left: 83px;
top: 380px;
font-size: 10px;
}
.main__content-roadicon {
display: none;
}
.main__content-ricon {
		width: 24.04px;
height: 36.88px;
left: 200px;
top: 365px;
display: block;
position: absolute;
}
.main__content-distance {
	left: 230px;
top: 330px;
font-size: 27px;
}
.main__content-km {
	height: 19px;
left: 283px;
top: 355px;
font-size: 15px;
}
.main__content-reserve {
	left: 230px;
top: 380px;
font-size: 10px;
}
.main__content-wheel {
display: none;
}
.main__content-redwheel {
	width: 22px;
height: 22px;
left: 30px;
top: 450px;
display: block;
position: absolute;
}
.main__content-test {
	left: 63px;
top: 440px;
font-weight: bold;
font-size: 13px;
line-height: 16px;
color: #E51937;
text-shadow: none;
}
.main__button {
	width: 160px;
height: 40px;
left: 179px;
top: 440px;
color: white;
background: #E51937;
border: 2px solid #E51937;
}
.main__content-pointer {
	width: 28px;
height: 14px;
left: 170px;
top: 510px;
}
}

@media screen and (max-width: 1024px) {
.menu__icon {
	left: 330px;
}
.main__title {
	left: 110px;
}
.main__subtitle {
	left: 135px;
}
.main__pic {
	width: 360px;
height: 150px;
left: 20px;
top: 200px;
}
.main__back {
	width: 420px;
height: 139px;
left: 0;
top: 150px;
}

.main__content-speeder{
	left: 65px;
}
.main__content-number {
	left: 113px;
}
.main__content-time {
	left: 155px;
	
}
.main__content-speed {
	left: 113px;
}
.main__content-roadicon {
display: none;
}
.main__content-ricon {
	left: 230px;
}
.main__content-distance {
	left: 260px;

}
.main__content-km {
left: 313px;
}
.main__content-reserve {
	left: 260px;

}
.main__content-redwheel {
	left: 73px;
}
.main__content-test {
	left: 103px;
}
.main__button {
left: 205px;

}
.main__content-pointer {
left: 200px;

}
}

@media screen and (max-width: 1366px) {
.main__title {
    font-size: 50px;
	left: 120px;
top: 50px;
 } 
 .menu {
 	display: none;
 }
 .main__pic {
left: 20px;
top: 200px;
}
.main__back {
left: 0;
top: 140px;
}
.header__pic {
	width: 120px;
height: 35px;
left: 2px;
top: 5px;
}
.menu__icon {
	left: 370px;
top: 5px;
}
.main__subtitle {
font-size: 10px;
line-height: 12px;
left: 140px;
top: 118px;
}
.main__content-speeder {
	width: 38.14px;
height: 28.7px;
left: 70px;
top: 370px;
}
.main__content-number {
	left: 115px;
top: 330px;
font-size: 27px;
}
.main__content-time {
	left: 160px;
top: 355px;
font-size: 15px;
}
.main__content-speed {
	left: 115px;
top: 380px;
font-size: 10px;
}
.main__content-roadicon {
display: none;
}
.main__content-ricon {
		width: 24.04px;
height: 36.88px;
left: 230px;
top: 365px;
display: block;
position: absolute;
}
.main__content-distance {
	left: 265px;
top: 330px;
font-size: 27px;
}
.main__content-km {
	height: 19px;
left: 320px;
top: 350px;
font-size: 15px;
}
.main__content-reserve {
	left: 265px;
top: 380px;
font-size: 10px;
}
.main__content-wheel {
display: none;
}
.main__content-redwheel {
	width: 22px;
height: 22px;
left: 85px;
top: 440px;
display: block;
position: absolute;
}
.main__content-test {
	left: 110px;
top: 430px;
font-weight: bold;
font-size: 13px;
line-height: 16px;
color: #E51937;
text-shadow: none;
}
.main__button {
	width: 160px;
height: 40px;
left: 210px;
top: 430px;
color: white;
background: #E51937;
border: 2px solid #E51937;
}
.main__content-pointer {
	width: 28px;
height: 14px;
left: 205px;
top: 498px;
}
}