@media screen and (max-width: 1024px) {
.body {
text-align: center;
align-items: center;
}

.header {
diplay: flex;
padding: 0;
margin: 0 auto;

}
.main {
padding: 0;
margin: 0 auto;
	
}


.header__menu {
display: none;
}

.header__menu-link {
	display: none;

}
.header__line {
	display: none;
}


.main__title {
	font-size: 90px;
	margin-bottom: 10px;
	
}
.main__subtitle {
	font: 15px 'montserratmedium';
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.main__info {
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.main__content {
	margin: 20px;
	padding: 0;
}

.main__content-item {
	margin: 0 20px;
}
.content {
margin: 0;
}
.content__pic {
	width: 65px;
height: 50px;
}
.content__one-big {
	font-size: 50px;
}


.content__one-small {
	font-size: 20px;
}

.content__item-two {
	font-szie: 12px;
}
.button__border {
color: white;
background-color: #E51937;
padding: 0 50px;
}
.button__out {
	color: #E51937;
}

.button__redwheel {
	margin-right: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.button__pic {
	display: none;
}

.button__text {
	display: flex;
flex-wrap: nowrap;
font-size: 16px;
}
section {
	padding: 0;
margin: 0 auto;
}
article {
	padding: 0;
margin: 0 auto;

}

.section__pic {

}
.section__title {
	font-size:70px;
	text-align: right;
}
.article__title {
 font-size: 
	
}
}


@media screen and (max-width:768px) {

.body {
text-align: center;
align-items: center;
}
.main__title {
	font-size: 50px;
	margin-bottom: 10px;
	
}

}


@media screen and (max-width: 440px) {
.body {
text-align: center;
align-items: center;
}

.header {
	padding: 0;
	margin: 0;
}
.main__title {
	font-size: 50px;
}

.main__subtitle {
	font-size: 10px;
	text-align: center;
}

.main__content {
	margin: 10px;	
}


.info__content {
	margin: 0 20px 0 20px;
}

.content__item-one {
	font-size: 27px;
	margin: 0;
}
.content__one-big {
	font-size: 27px;
	margin: 0 5px 5px 0;
	
}
.content__one-small {
	font-size: 15px;	
}

.content__item-two {
	font-size: 10px;
	display: flex;
margin: 0;
}
.content__pic {
width: 38px;
height: 27px;
}

.button__text {
	font-size: 13px;
	display: flex;
flex-direction: row;
}

.button__redwheel {
	width: 22px;
height: 22px;
}
.main__pointer {
	margin-top: 10px;
}

.button__out {
	padding: 15px;
}

.button__border {
	padding: 0 40px;
}
.roadicon {
	width: 29px;
height: 41px;
}
}


@media screen and (max-width: 375px) {
 .body {
text-align: center;
align-items: center;
}


}

@media screen and (max-width: 360px) {
 .body {
text-align: center;
align-items: center;
}
 .button__out {
 	padding: 10px;
 }

}
@media screen and (max-width: 320px) {
 .body {
text-align: center;
align-items: center;
}

.main__content {
	margin-right: 0;
}
 .button__out {
 	padding: 15px;
 }
 .button__text {
 	font-size: 10px;
 }

}